<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your Title</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <meta charset="UTF-8">

</head>
<body>
<h1> Home Page</h1>
<body>
<div>
    <input type=button id="btn1" class="button"  onClick="location.href='find'" value='Find'>
    <input typ=button onClick="location.href='register'" value='Register'>
    <input type=button onClick="location.href='login'" value='Login'>
</div>


<h2>Style Heading H2</h2>
<p>
    This is text on which we want to apply <strong>very special</strong> styling.
</p>


</body>
</body>
</html>