<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Match List</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Matches </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="match : ${match_list}">
        <td>
            <a th:href="@{/match-statistics(id=${match})}"><span th:text="${match}"></span></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>