<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Successful</title>
    <link rel="stylesheet" href="/css/forregistersuccess.css" type="text/css"/>
</head>
<body>
<h1><span>Main Page</span> Or <span>Find Info</span></h1>



<div class="gallery">
    <img onClick="parent.location='index.html'"  src="static/img/kayle.jpg" th:src="@{img/kayle.jpg}" alt="Archer from Fate/Stay">
    <img onClick="location.href='find'" src="static/img/morgana2.jpg" th:src="@{img/morgana2.jpg}" alt="Saber from Fate/Stay">

</div>

</body>
</html>